/* Scss Document */
@charset "UTF-8";

/* CSS Document */
@import "_variables.scss";

.course_wrap{
    min-height: 100vh;
    background: $color_cream;
    .course{
        @include flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10rem 3rem 14rem;
        gap: 1.5rem;
        li{
            width: calc((100% - 3rem) / 3);
            height: 16rem;
            background: $color_gradation-green;
            a{
                width: 100%;
                height: 100%;
                @include flex;
                padding: 0 0.5rem;
                p{
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-align: center;
                    line-height: 1.5;
                    color: #fff;
                }
            }
        }
    }
}
